#headernav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  background: rgba(210,180,180,.9);

  a:hover {
    opacity: 0.6;
  }

  a {
    color: #882222;
    text-decoration: none;
    height: 100%;
    width: auto;
    transition: .2s;

    img {
      width: auto;
      height: 50px;
      margin: 5px 120px;
      opacity: 1;
    }
  }
  a:hover {
    color: #dd7777;
  }

  ul,li {
    display: block;
    padding: 0;
    margin: 0;
  }

  ul {
    position: absolute;
    top: 12px;
    right: 40px;
    display: inline-block;
    width: 960px;
    height: 36px;
    transition: .5s;

    a:nth-child(1) li {
      border-left: none;
    }

    li:hover {
      background: rgba(255,255,255,0.85);
      color: #223355;
    }

    li {
      width: 120px;
      height: 100%;
      color: white;
      font-size: 0.9em;
      float: left;
      border-left: solid 1px white;
      line-height: 36px;
      text-align: center;
      text-decoration: none;
      letter-spacing: 0.1em;
    }
  }
}
