doctype html
head
  link(rel='stylesheet' href='styles/common/header.css')
#headernav.inactive.nav-top
  a(href='index.html')
    img(src='./imgs/main.png' alt='hihihi')
  ul
    a(href='about.html')
      li SFCinkとは
    a(href='.html')
      li カリキュラム
    a(href='.html')
      li 授業日・受講料
    a(href='.html')
      li 合格実績
    a(href='.html')
      li お問い合わせ
    a(href='.html')
      li アクセス
