doctype html
head
  link(rel='stylesheet' href='styles/common/header.css')
#headernav.inactive.nav-top
  a(href='index.html')
    img(src='' alt='hihihi')
  ul
    a(href='about.html')
      li ほにゃ
    a(href='.html')
      li もらけ
    a(href='.html')
      li ふが
    a(href='.html')
      li ほげ
    a(href='.html')
      li もら
